.dessertSection{
    // border: 4px solid black;
    background-color: hsl(0, 0%, 97%);
    padding: 70px 100px;
}

.desserts{
    // border: 4px solid black;
    display: flex;
    align-items: center;
    
}
.dessertText{
    width: 70%;
    // border: 4px solid black;
    margin-left: 40px;
    p{
        margin-top:5px;
        margin-bottom:10px;
    }
    
}
